#peoples {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
  width: 100%;
  justify-content: center;
}

.people {
  flex: 0 0 auto;
  width: 8rem;
  height: 11rem;
  text-align: center;
}

.people > p {
  margin-bottom: 0;
}

.portrait {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 50%;
}
