* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Lato, sans-serif;
}


a {
  text-decoration: none;
  color: unset;
}

.btn {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  /* remove safari default appearance */
  -webkit-appearance: none;
}

.btn.primary {
  color: white;
  background-color: var(--primary);
}

.btn.accent {
  text-align: center;
  color: white;
  background-color: var(--orange);
}

p > a {
  text-decoration: underline;
  color: var(--orange);
}

body > * {
  padding: 0 var(--side-margin);
}

/* first level headers */
body > h3 {
  color: var(--green);
}

header {
  z-index: 10;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: var(--lightest);
  color: white;
  font-family: Instruction, sans-serif;
}

header .logo {
  height: 80%;
  transform: translateY(15%);
  margin: 0 0.5rem 0 0;
}

#newsletter {
  margin: 0;
}

#newsletter-input,
#newsletter-submit {
  height: 2rem;
}

input,
textarea {
  border-radius: 0.5rem;
  border: none;
  outline: none;
  padding: 0.5rem;
  transition: box-shadow 0.2s;
  font-family: Lato,sans-serif;
  font-size: 0.9rem;
}

input.onlight:focus,
input.onlight:active,
textarea.onlight:focus,
textarea.onlight:active {
  box-shadow: var(--darkshadow);
  border: 1px solid var(--primary);
}

input.ondark:focus,
input.ondark:active,
textarea.ondark:focus,
textarea.ondark:active {
  box-shadow: var(--lightshadow);
  border: 1px solid var(--primary);
}

.fullcover-wrap {
  position: relative;
  padding: 0;
}

.fullcover-content {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--side-margin);
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;

  justify-content: center;
  text-align: center;
}

.fullcover-bg {
  width: 100%;
}
.card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100%;
}

a.card {
  transition: background-color 0.1s;
}

a.card:hover:not(:active) {
  background-color: papayawhip;
}

.card-container{
  padding: 0;
}

.card {
  width: 80%;
  max-width: 20rem;
  flex: 0 0 auto;
  margin: 0.5rem var(--side-margin);
  display: grid;
  /* row row row row/ column column column */
  grid-template: 2rem auto 5rem 1rem/ 2rem auto 4rem;
  align-items: center;
  grid-template-areas: "icon header header" "title title img" "content content img" "footer footer action";
  grid-column-gap: 0.2rem;
  /* shadow + sizing */
  box-shadow: var(--darkshadow);
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.card-icon {
  grid-area: icon;
  font-size: 2rem;
  margin: auto;
}

.card-header {
  grid-area: header;
  font-weight: lighter;
}

.card-title {
  padding: 0.2rem 0;
  font-weight: bold;
  grid-area: title;
}

.card-content {
  grid-area: content;
  overflow-y: hidden;
}

.card-footer {
  grid-area: footer;
  opacity: 0.7;
}

.card-img {
  grid-area: img;
  width: 4rem;
  height: 4rem;
  object-fit: cover;
}

/* Desktop */
@media screen and (min-width: 600px) {
  /* disable horizontal scrolling as desktop device may not have touch */
  .card-container {
    flex-wrap: wrap;
  }
  p{
    line-height: 2rem;
  }
  body{
    --side-margin: 4rem;
  }
}

/* phone */
@media screen and (max-width: 600px) {
  #newsletter-submit {
    display: none;
  }
  body{
    --side-margin: 1rem;
  }
}
