#upcoming {
  display: flex;
  flex-direction: column;
}

textarea {
  height: 5rem;
  resize: vertical;
}

input[type="submit"] {
  max-width: 5rem;
}

.card {
  width: auto;
}

/* phone */
@media screen and (max-width: 600px) {
  .card-container {
    flex-direction: column;
  }
}
