include common/card.pug
<!DOCTYPE html>
html(lang="en")
    head
        include common/head.pug
        title UTMIST
        style
            include common/card.css
            include home.css
    body
        include common/topbar.pug
        section.splash
            h1 We’re here to clear the mist around AI
        section.flex.vertical.align-center
            h1 Events
            div.card-container.flex
                each val in [1,2,3,4,5,6,7,8]
                    +card("https://via.placeholder.com/150x150","MIST101","Linear Algebra Basics","Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum.","A day ago","#")
            a.action.solid(href="event.html") VIEW ALL
            br
        section.duo
            img(src="http://utmist.sa.utoronto.ca/files/2017/08/Photo-2017-07-22-3-24-53-PM-1024x683.jpg")
            div.abouttext.flex.vertical
                h1 About Us
                p University of Toronto Machine Intelligence Student Team (UTMIST) is an officially certified student organization within the University of Toronto. Our mission is to let more people get to know about artificial intelligence and “clear the mist” around it! 
                a.action.solid(href="about.html") READ MORE
        section.flex.wrap.justify-center.sponsor
            h1.fullwidth.text-center Thanks to Our Sponsors
            p.fullwidth.text-center UTMIST wouldn't be so great without
            each val in [1,2,3,4]
                img.default-margin(src="https://via.placeholder.com/150x150")
        section.duo
            div.intouchtext.flex.vertical
                h1 Newsletter
                form.flex.align-center(action="#" method="GET")
                    input#newsletter(type="email", name="email" placeholder="EMAIL")
                    input.action.solid(type="submit", value="SUBSCRIBE")
                h1 Get in touch
                button.action.outline.question GOT A QUESTION?
            img(src="https://via.placeholder.com/250x250")
        include common/footer.pug