include common/card.pug
include common/splash.pug
html(lang="en")
    head
        include common/head.pug
        title UTMIST
        style
            include common/card.css
            include index.css
    body
        include common/topbar.pug
        +splash("assets/justin.jpg","We’re here to clear the mist around AI")
        section#event.flex.vertical.align-center
            h1 Events
            div.card-container.flex
                //- events are injected form compile.js
                each ev in events
                    +card(ev.filename,ev["What type of event is this?"],ev["Title"],ev["Description"],ev["When?"],ev["Action Link"])
            a.action.solid(href="//www.facebook.com/pg/UofT.MIST/events/" target="_blank" rel="noopener") VIEW ALL
            br
        section#about.duo
            img(src="assets/founders.jpg")
            div.abouttext.flex.vertical
                h1 About Us
                p University of Toronto Machine Intelligence Student Team (UTMIST) is an officially certified student organization within the University of Toronto. Our mission is to let more people get to know about artificial intelligence and “clear the mist” around it! 
                a.action.solid(href="/team.html" target="_blank" rel="noopener") READ MORE
        //- section.flex.wrap.justify-center.sponsor
        //-     h1.fullwidth.text-center Thanks to Our Sponsors
        //-     p.fullwidth.text-center UTMIST wouldn't be so great without
        //-     each val in [1,2,3,4]
        //-         img.default-margin(src="https://via.placeholder.com/150x150")
        section#contact.duo
            div.intouchtext.flex.vertical
                h1 Newsletter
                a.action.solid(href="https://facebook.us15.list-manage.com/subscribe?u=c7b34cca67c5aa62532130cbe&id=e5040d3cd0" target="_blank" rel="noopener") Subscribe
                h1 Get in touch
                a.action.outline.question(href="https://www.facebook.com/UofT.MIST/" target="_blank" rel="noopener") GOT A QUESTION?
            img(src="assets/betty.jpg")
        include common/footer.pug
        script(src="https://cdn.jsdelivr.net/npm/moment@2.23.0/moment.min.js" defer)
        script(src="common/date.js" defer)