include common/card.pug
include common/splash.pug
<!DOCTYPE html>
html(lang="en")
    head
        include common/head.pug
        title UTMIST - University of Toronto Machine Intelligence Student Team
        style
            include common/card.css
            include index.css
    body
        include common/topbar.pug
        +splash("assets/justin.jpg","We’re here to clear the mist around AI")
        section#recruit.flex.vertical.align-center
            h1 We Are Recruiting!
            p Multiple positions available starting fall 2019. 
            a.action.solid(href="/team.html#join" target="_blank" rel="noopener") Join Us
            br
        section#event.flex.vertical.align-center
            h1 Events
            input#viewall-events(type="checkbox" hidden)
            div.card-container.flex
                //- events are injected form compile.js
                each ev in events.filter(ev=>ev.filepath)
                    +card(ev.filepath,ev["Type"],ev["Title"],ev["Summary"],ev["DateTime"],
                        ev[new Date(ev["DateTime"])>new Date()?"PreLink":"PostLink"]
                    )
                label#viewall.action.solid(for="viewall-events") VIEW ALL
                label#collapse.action.solid(for="viewall-events") COLLAPSE
            br
        section#about.duo
            img(src="assets/group.JPG")
            div.abouttext.flex.vertical
                h1 About Us
                p University of Toronto Machine Intelligence Student Team (UTMIST) is an officially certified student organization within the University of Toronto. Our mission is to let more people get to know about artificial intelligence and “clear the mist” around it! 
                a.action.solid(href="/team.html" target="_blank" rel="noopener") READ MORE
        //- section.flex.wrap.justify-center.sponsor
        //-     h1.fullwidth.text-center Thanks to Our Sponsors
        //-     p.fullwidth.text-center UTMIST wouldn't be so great without
        //-     each val in [1,2,3,4]
        //-         img.default-margin(src="https://via.placeholder.com/150x150")
        section#contact.duo
            div.intouchtext.flex.vertical.text-center
                h1 Newsletter
                a.action.solid(href="https://facebook.us15.list-manage.com/subscribe?u=c7b34cca67c5aa62532130cbe&id=e5040d3cd0" target="_blank" rel="noopener") Subscribe
                h1 Find Us On
                //- a.action.outline.question(href="https://www.facebook.com/UofT.MIST/" target="_blank" rel="noopener") GOT A QUESTION?
                div.flex.justify-center.finduson
                    a(href="https://twitter.com/UTMIST1" target="_blank" rel="noopener")
                        <i class="fab fa-twitter"></i>
                    a(href="https://medium.com/@utorontomist" target="_blank" rel="noopener")
                        <i class="fab fa-medium-m"></i>
                    a(href="mailto:utorontomist@gmail.com" target="_blank" rel="noopener")
                        <i class="fas fa-envelope"></i>
                    a(href="https://www.facebook.com/UofT.MIST/" target="_blank" rel="noopener")
                        <i class="fab fa-facebook-square"></i>
                br
            img(src="assets/betty.jpg")
        include common/footer.pug
        script(src="https://cdn.jsdelivr.net/npm/moment@2.23.0/moment.min.js" defer)
        script(src="common/date.js" defer)