.sponsors {
  display: flex;
  flex-wrap: wrap;
}

.sponsors > img {
  margin: 0.5rem;
  height: 2rem;
  flex: 0 0 auto;
}

#askq {
  margin-top: 0.3rem;
}

.fullcover-content {
  justify-content: flex-end;
  text-align: left;
}

.tosection {
  margin: auto 0.5rem;
}

/* phone */
@media screen and (max-width: 600px) {
  .tosection {
    float: right;
  }
}
