.card-container {
  max-width: 72rem;
  width: 100%;
  padding: 5%;
  overflow-x: auto;
}

.card {
  display: grid;
  /* no margin for img */
  grid-template-areas:
    "img img img img"
    ". tag date ."
    ". title title ."
    ". content content .";
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.6rem;
  padding-bottom: 0.6rem;
  box-shadow: var(--darkshadow);
  border-radius: 2px;
  overflow: hidden;
}

.card > * {
  margin: 0;
}

.card > .img {
  grid-area: img;
  height: 9rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card > .tag {
  grid-area: tag;
  font-family: Instruction;
}

.card > .date {
  grid-area: date;
  text-align: right;
  opacity: 0.7;
}

.card > .title {
  grid-area: title;
}

.card > .content {
  grid-area: content;
  opacity: 0.7;
  max-height: 12rem;
  overflow-y: auto;
}

#viewall-events:checked + .card-container > .card:nth-child(n + 4) {
  display: grid;
}

#viewall-events:not(:checked) + .card-container > .card:nth-child(n + 4) {
  display: none;
}

#viewall-events:checked + .card-container > #viewall {
  display: none;
}

#viewall-events:not(:checked) + .card-container > #collapse {
  display: none;
}

@media screen and (min-width: 590px) {
  #viewall,
  #collapse {
    margin: 0 10rem;
  }
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
}
