- var year = new Date().getFullYear()
footer.flex.vertical.justify-center
    div.text-center © #{year} University of Toronto Machine Intelligence Team
    a(href="#") Back to top
    style
        include footer.css