mixin positiondetail(posting)
    - var id = posting["Title"].toLowerCase().split(' ').join('')
    details.posting(id=id)
        summary
            div.summary
                span= posting["Title"]
                +applybutton(posting["Title"])
        h1= posting["Title"]
        pre= posting["Detailed Description"]
        +applybutton(posting["Title"])
        br
        a.action.outline(href="./team.html#"+id,target="_blank") Copy Link To Share
        br

mixin applybutton(title)
    a.action.solid(href="https://docs.google.com/forms/d/e/1FAIpQLSd56SHFgH2x0wpgts03Y_E0LlFuP5vDlv8ZUJcXo9pZlcging/viewform" target="_blank" rel="noopener") Apply