/* overwrite browser defaults for inconsistencies */
a {
  text-decoration: none;
  color: inherit;
}
* {
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
}
body {
  font-family: Lato, sans-serif;
}
input {
  min-width: 0;
}
button,
input[type="submit"],
input {
  -webkit-appearance: none;
  border-radius: 0;
}
