header
    a(href="home.html" id="tohome" target="_blank" rel="noopener")
        img(src="Logo/SVG/White Brain.svg" class="logo")
        h2 UTMIST
    nav
        a(href="event.html" target="_blank" rel="noopener") Events
        a(href="about.html" target="_blank" rel="noopener") About Us
        a(href="#contact") Contact