mixin links
    nav.links
        a(href="/index.html#event") Events
        a(href="/team.html#join") Join Us
        a(href="/index.html#contact") Contact
        a(href="https://facebook.us15.list-manage.com/subscribe?u=c7b34cca67c5aa62532130cbe&id=e5040d3cd0" target="_blank" rel="noopener") Subscribe
style
    include topbar.css
.hamburgerexpanded
    input#menuopen(type="checkbox" hidden)
    label.hamburger(for="menuopen")
        i.fas.fa-bars.open
        i.fas.fa-times.close
    label.clickaway(for="menuopen")
    +links
header
    a#logolink(href="/")
        img(src="Logo/SVG/White Brain.svg")
        h2 UTMIST
    +links